<!doctype html>
<head>
    <meta charset="utf-8"/>
    <title>Генератор юморесок</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-static-top navbar-light bg-light mb-2">
          <a class="navbar-brand" href="#">Генератор {{ subj }}</a>
        </nav>
        <div class="jumbotron">
                        <p>{{ joke }}</p>
            <p>
                <button class="btn btn-primary" onClick="window.location.reload()">Еще</button>
            </p>
        </div>
    </div>
</body>